<div class="lt-row row ">
  <div class="lt-col col s6">
    <h2 class="lt-title">Cuidado Adulto Mayor 1</h2>
    {% component 'cuidado1' %}
    <iframe width="200" height="150" src="https://www.youtube.com/embed/omK5lsPQSZw" frameborder="0" allowfullscreen></iframe>
    </div> 

    <div class="lt-col col s6">
    	<h2 class="lt-title">Cuidado Adulto Mayor 2</h2>
    	 {% component 'cuidado2' %}
	<iframe width="200" height="150" src="https://www.youtube.com/embed/YvSKxw0Tq3A" frameborder="0" allowfullscreen></iframe>
    	 
  	</div>	
    </div>


    
  <div class="lt-row row">
  <div class="lt-col col s6">
    <h2 class="lt-title">Cuidado Adulto Mayor 3  </h2>
    	{%component 'cuidado3'%}
    	<iframe width="200" height="150" src="https://www.youtube.com/embed/zizsoWVrEbo" frameborder="0" allowfullscreen></iframe>
    
  </div>
  
  <div class="lt-col col s6">
    <h2 class="lt-title">Cuidado Adulto Mayor 4  </h2>
    {%component 'cuidado4'%}
    	<iframe align="center" width="200" height="150" src="https://www.youtube.com/embed/6yRr6jCs_7A" frameborder="0" allowfullscreen></iframe>
    
  </div>
  </div>


 
  



	
	 
