#toast-container {
    top: auto !important;
    right: 5% !important;
    bottom: 10%; 
}

p.flash-message {
    top: auto !important;
    bottom: 5% !important;
}

.lt-btn-menu {
    border-left:1px solid #ececec; 
    border-right:1px solid #ececec;
    padding: 0.5rem !important;
    position: relative;
    margin: 0 !important;
    border-radius: 0;
}

nav .lt-btn-menu {
    padding: 0 16px;
}

nav i, nav i.material-icons {
    height: auto;
}

nav .user-info {
    color: darken($lt-primary-color, 25%);
    margin-top: 10px;
}

.divider {
    clear: both;
}